<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Quizer - 404</title>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap" rel="stylesheet"/>
        <link href="../docs/theme.css" rel="stylesheet"/>
        <style>
        body {
            background: var(--bg);
            color: var(--text);
            font-family: 'DM Sans', sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
			align-items: center;
        }

		.page {
			display: flex;
			gap: 10px;
		}

        label {
            display: block;
            font-size: 0.85rem;
            font-weight: var(--weight-heavy);
            margin-bottom: 6px;
            color: var(--text);
        }

		span {
			font-size: 1.5rem;
			color: var(--muted);
		}

    </style>
    </head>
    <body>
        <div class="page">
			<h2>404!</h2>
            <div>
                <label><b><%= page %></b> page doesn't exist on Quizer</label>
                <label><a href="/">Go to main</a></label>
            </div>
        </div>
    </body>
</html>
