<!DOCTYPE html>
<html>
	<head>
		<title><%= pageTitle %></title>
		<!--  <link rel="icon" type="image/x-icon" href="favicon.svg">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/css/root.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<!-- TBD -->
	</body>
</html>
