:root {
	--bg-color: #ffffff;
	--fg-color: #a0a0ff;
	--text-color: #323232;
	--border-color: #121212;
}

@media (prefers-color-scheme: dark) {

	:root {
		--bg-color: #323232;
		--fg-color: #4e4ef0;
		--border-color: beige;
		--text-color: #fefefe;
	}
}
